body {
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto Serif", serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  color: black;
}
li:first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  color: black;
  margin-bottom: 0;
}
.weatherstructure-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.weather-structure {
  padding: 20px;
  background-color: lightblue;
  border: 1px;
  border-radius: 8px;
}
.overview {
  margin-bottom: 20px;
  font-size: 50px;
}
.overview li {
  margin-top: 10px;
  font-size: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  color: black;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
#input-In {
  background: #f8f6f6;
}
.forecast-date {
  margin-top: 20px;
  color: rgb(32, 33, 36);
  font: 16px;
  font-weight: 400px;
}
.max-temperature {
  color: rgb(32, 33, 36);
  font-size: 14px;
  font-weight: 400px;
}
.min-temperature {
  color: rgb(112, 117, 122);
  font-size: 14px;
  font-weight: 400px;
}
