body {
  font-family: arial, sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  color: #878787;
}
li:first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  color: #878787;
  margin-bottom: 0;
}
.weatherstructure-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-structure {
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  color: rgb(33, 37, 41);
  font-weight: 400;
  line-height: 1;
}
.unit {
  position: relative;
  font-size: 16px;
  top: -34px;
}
